<div class="footer">
    <div class="pull-right">@System.Configuration.ConfigurationManager.AppSettings["TaskMgrVersion"]</div>
    <div class="text-center">Task Management System &copy; 2017</div>
</div>

