<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EFDbContext" connectionString="Data Source=localhost;Initial Catalog=TaskMgr;User ID=sa;Password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="EFDbContext" connectionString="Data Source=localhost;Initial Catalog=P050916;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EFDbContext" connectionString="Data Source=DESKTOP-O4SCOQP\SQLEXPRESS;Initial Catalog=P050916;User id=sa;Password=123456;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="indexName" value="taskstorage" />
    <add key="elastisearchUrl" value="http://localhost:9200" />
    <add key="ocrEnabled" value="false" />
    <add key="ocrExtractFolder" value="E:\\DMSORC\\MainInput\\" />
    <add key="ocrFileExtension" value=".PDF" />
    <add key="DataDirectoryRoot" value="~/App_Data/Tasks" />

    <add key="DirectoryService" value="LDAP" />
    <add key="sDomain" value="192.168.104.31" />
    <add key="sPort" value="389" />
    <!--
    <add key="sDefaultOU" value="CN=Users,dc=anletech,dc=com" />
    <add key="sServiceUser" value="administrator" />
    <add key="sServicePassword" value="p@ssw0rd" />
    !-->
    <add key="sDefaultOU" value="uid={0},ou=users,dc=anletech,dc=com" />
    <add key="sServiceUser" value="administrator" />
    <add key="sServicePassword" value="p@ssw0rd" />
  
    <!-- REPORT !-->
    <add key="ReportDirectoryRoot" value="~/App_Data/Reports" />
    <add key="MonthlyReportTemplate" value="~/App_Data/ReportsTemplate/monthlyreporttemplate.xlsx" />
    <add key="DailyReportTemplate" value="~/App_Data/ReportsTemplate/dailyreporttemplate.xlsx" />
    <add key="EmailReportFrom" value="anntt.fpt@gmail.com" />
    <add key="EmailReportPass" value="rule622jake922" />
    <add key="EmailReportServer" value="smtp.gmail.com" />
    <add key="EmailReportPort" value="587" />
    <add key="EmailReportSSL" value="true" />
    <!-- Application version !-->
    <add key="TaskMgrVersion" value="V20170507.01" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>